body{
margin:0;
padding:0;
min-height:600px;
background-color:#000;
color:#fff;
font: 90%/1.5 "myriad pro",verdana,arial,sans-serif;
text-align:center;
width:1224px;
}

.number_list {
float:left;
width:200px;

padding:10px 10px 0;
}

.main_frame {
margin-top:5px;
min-height:50px;

background-color:gray;
}

#listEdit {
color:#ffccee;

}
#listDelete {
color:#ffccee;

}
.lightText{
    color : #9B9B9B;
}
.main_frame_header .number_list {
float:left;
width:200px;

padding:10px;
font-weight:bold;
}

.flash {
  width:600px;
  height:40px;
  background-color:#F0F0F0 ;
  border:2px solid #F0F0F0 ;
  color:#000;
  font-weight:900;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align:center;
  line-height: 40px;
}
.flashBox {
  width:600px;
  height:40px;
}

.button button {
    font-size: 42px;
    font-weight: bold;
    width: 1156px;
    height: 60px;
   
}

.wrapper {
border: 10px solid;

 -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height:auto;
}
.outer {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-color: black black #8A8A8A #8A8A8A;
    border-style: solid;   
    height: auto;
    padding: 0.1em;
   
}
.main_frame_header {
  padding-bottom: 10px;
}

.outer .tempBox div {
padding-top:5px;
margin: 5px 0 0 0px;
background-color:gray;
}

 input[type="text"] {

width:180px;
padding:3px;
margin-left:20px;
}

.outer .tempBox div input[type="button"] {
    padding:10px;
    color: #000000;
    margin-left: 30px;
}

#content {
    background-color:#000;
    color: #fff;
    overflow: hidden;
}

.number_list input[type="button"] { 
    color: #000000;
    margin-left: 30px;
  }

.span12, .container {
    width: auto;
}

#textlook {
  background-color:gray;
  border-color:gray;
  border:none;
  color:#fff;
}


